graphs {
  priority: 0

	  engines {
		id: 457
		engine_name: "Mind_humnoi_1000"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "path"
		value: "/home/HwHiAiUser/tools/che/datasets/my-datasets/humnoi_1000/"
	  }

	  items {
		name: "dataType"
		value: "Image"
	  }

	  items {
		name: "includeYUV420SP"
		value: "false"
	  }

	  items {
		name: "width"
		value: ""
	  }

	  items {
		name: "height"
		value: ""
	  }

	  items {
		name: "meanOfB"
		value: ""
	  }

	  items {
		name: "meanOfG"
		value: ""
	  }

	  items {
		name: "meanOfR"
		value: ""
	  }

	  items {
		name: "batch"
		value: "1"
	  }

	  items {
		name: "useAll"
		value: "All"
	  }

	  items {
		name: "randomNumber"
		value: "1"
	  }

	  items {
		name: "null"
		value: ""
	  }

	  items {
		name: "null"
		value: "Float"
	  }

	  items {
		name: "target"
		value: "FPGA"
	  }
    }
  }

	  engines {
		id: 748
		engine_name: "MindInferenceEngine_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "dynamic_aipp"
		value: "0"
	  }

	  items {
		name: "input_image_format"
		value: ""
	  }

	  items {
		name: "csc_switch"
		value: ""
	  }

	  items {
		name: "model_image_format"
		value: ""
	  }

	  items {
		name: "input_image_width"
		value: ""
	  }

	  items {
		name: "input_image_height"
		value: ""
	  }

	  items {
		name: "model_path"
		value: "/home/HwHiAiUser/tools/che/model-zoo/my-model/118_construction_N1_st_yuv256_bgr_Q/device/118_construction_N1_st_yuv256_bgr_Q.om"
	  }

	  items {
		name: "init_config"
		value: ""
	  }

	  items {
		name: "passcode"
		value: ""
	  }

	  items {
		name: "dump_list"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "batch_size"
		value: ""
	  }

	  items {
		name: "dynamic_aipp_flag"
		value: "0"
	  }
    }
  }

	  engines {
		id: 367
		engine_name: "ImageClassificationPostProcess_1"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "output_name"
		value: "prob"
	  }

	  items {
		name: "path"
		value: "/home/HwHiAiUser/tools/che/datasets/my-datasets/humnoi_1000/"
	  }

	  items {
		name: "mode"
		value: "normal"
	  }
    }
  }

	  engines {
		id: 876
		engine_name: "ImagePreProcess_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "point_x"
		value: "-1"
	  }

	  items {
		name: "point_y"
		value: "-1"
	  }

	  items {
		name: "crop_width"
		value: "-1"
	  }

	  items {
		name: "crop_height"
		value: "-1"
	  }

	  items {
		name: "self_crop"
		value: "1"
	  }

	  items {
		name: "resize_width"
		value: "0"
	  }

	  items {
		name: "resize_height"
		value: "0"
	  }

	  items {
		name: "dump_value"
		value: "0"
	  }

	  items {
		name: "project_name"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "userHome"
		value: "/home/HwHiAiUser/tools"
	  }
    }
  }

  connects {
    src_engine_id: 876
    src_port_id: 0
    target_engine_id: 748
    target_port_id: 0
  }

  connects {
    src_engine_id: 748
    src_port_id: 0
    target_engine_id: 367
    target_port_id: 0
  }

  connects {
    src_engine_id: 457
    src_port_id: 0
    target_engine_id: 876
    target_port_id: 0
  }
}			
